src/main/resources/service/CreditCheckService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:mes="http://www.credit-check.com/message" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CreditCheck" targetNamespace="http://www.credit-check.com/service" xmlns:tns="http://www.credit-check.com/service">
	<wsdl:types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.credit-check.com/message" xmlns:tns="http://www.credit-check.com/message" elementFormDefault="unqualified">

			<element name="CreditCheckRequest">
				<complexType>
					<sequence>
						<element name="nationalId" type="string" />
					</sequence>
				</complexType>
			</element>

			<element name="CreditCheckResponse">
				<complexType>
					<sequence>
						<element name="status" type="tns:statusType" />
					</sequence>
				</complexType>
			</element>
			<simpleType name="statusType">
				<restriction base="string">
					<enumeration value="OK" />
					<enumeration value="RECHAZADO" />
				</restriction>
			</simpleType>
		</schema>
	</wsdl:types>
	<wsdl:message name="CreditCheckRequest">
		<wsdl:part element="mes:CreditCheckRequest" name="CreditCheckRequest" />
	</wsdl:message>
	<wsdl:message name="CreditCheckResponse">
		<wsdl:part element="mes:CreditCheckResponse" name="CreditCheckResponse" />
	</wsdl:message>
	<wsdl:portType name="CreditCheckPortType">
		<wsdl:operation name="verify">
			<wsdl:input message="tns:CreditCheckRequest" />
			<wsdl:output message="tns:CreditCheckResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CreditCheckSOAP" type="tns:CreditCheckPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="verify">
			<soap:operation soapAction="http://www.credit-check.com/service/verify" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CreditCheckService">
		<wsdl:port binding="tns:CreditCheckSOAP" name="CreditCheckPort">
			<soap:address location="http://www.mule-credit-check.com/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
